<h1>Bienvenue sur notre site de potins !</h1>

<% if session[:user_id] %> 
  <% user = User.find_by(id: session[:user_id]) %>
  <% if user %>
    <p> Bienvenue <%= user.first_name %> </p>
  <% else %>
    <p> Utilisateur non trouvé. </p>
  <% end %>
<% end %>



<h2>Les derniers potins :</h2>

<ul>
  <% @gossips.each do |gossip| %>
    <li>
      <%= link_to gossip.user.first_name, user_path(gossip.user.id) %> : <%= link_to gossip.title, gossip_path(gossip.id) %> 

    </li>
  <% end %>
</ul>
<%= link_to "Créer un potin", new_gossip_path %>
